<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mybatisplus_test.npmstest.mapper.SaleDailyMapper">

    <select id="selectSaleDaily"   resultType="com.neusoft.mybatisplus_test.npmstest.entity.SaleDaily">
        select   daily_ID,daily_date,staff_ID,week,detail
        from     sale_daily
        where

        <if test="dailyDate != null">
            daily_date=#{dailyDate}
        </if>
        <if test="week != null">
            and week=#{week}
        </if>
        <if test="staffId != null">
            and staff_ID=#{staffId}
        </if>



    </select>




</mapper>